Repository insightmind/MORR, pull requests merged in 2020-03, with the labels that each got.

#139 Enable recording mappedCharacter to the Event
  application/Modules/Keyboard/Events/KeyboardInteractEvent.cs
  application/Modules/Keyboard/Native/INativeKeyboard.cs
  application/Modules/Keyboard/Native/NativeKeyboard.cs
  application/Modules/Keyboard/Producers/KeyboardInteractEventProducer.cs
Labels: MODULES, enhancement

#111 Adds unit tests for shared project
  .github/workflows/dotnetcore.yml
  application/Common/Shared/Events/Queue/Aliases.cs
  application/Common/Shared/Events/Queue/EventQueue.cs
  application/Common/Shared/Events/Queue/Strategy/ChannelConsumingException.cs
  application/Common/Shared/Events/Queue/Strategy/MultiConsumer/MultiConsumerChannelStrategy.cs
  application/Common/Shared/Events/Queue/Strategy/SingleConsumer/SingleConsumerChannelStrategy.cs
  application/Common/Shared/Events/Queue/SupportDeserializationEventQueue.cs
  application/Common/Shared/Hook/Exceptions/HookLibraryException.cs
  application/Common/Shared/Hook/GlobalHook.cs
  application/Common/Shared/Hook/HookNativeMethods.cs
  application/Common/Shared/Hook/IHookNativeMethods.cs
  application/Common/SharedTest/Configuration/RawConfigurationTest.cs
  application/Common/SharedTest/Events/EventTest.cs
  application/Common/SharedTest/Events/Queue/EventQueueTest.cs
  application/Common/SharedTest/Events/Queue/Strategy/EventQueueStorageStrategyTest.cs
  application/Common/SharedTest/Events/Queue/Strategy/MultiConsumer/BoundedMultiConsumerChannelStrategyTest.cs
  application/Common/SharedTest/Events/Queue/Strategy/MultiConsumer/MultiConsumerChannelStrategyTest.cs
  application/Common/SharedTest/Events/Queue/Strategy/MultiConsumer/UnboundedMultiConsumerChannelStrategyTest.cs
  application/Common/SharedTest/Events/Queue/Strategy/SingleConsumer/BoundedSingleConsumerChannelStrategyTest.cs
  application/Common/SharedTest/Events/Queue/Strategy/SingleConsumer/SingleConsumerChannelStrategyTest.cs
  application/Common/SharedTest/Events/Queue/Strategy/SingleConsumer/UnboundedSingleConsumerChannelStrategyTest.cs
  application/Common/SharedTest/Events/Queue/SupportDeserializationQueueTest.cs
  application/Common/SharedTest/Hook/GlobalHookTest.cs
  application/Common/SharedTest/SharedTest.csproj
  application/Common/SharedTest/TestHelpers/Event/InvalidTestEvent.cs
  application/Common/SharedTest/TestHelpers/Event/TestEvent.cs
  application/Common/SharedTest/TestHelpers/EventQueueStrategy/BoundedConsumerChannelStrategyTestClass.cs
  application/Common/SharedTest/TestHelpers/EventQueueStrategy/UnboundedConsumerChannelStrategyTestClass.cs
  application/Common/SharedTest/TestHelpers/INativeHook/HookNativeMethodsMock.cs
  application/Common/SharedTest/TestHelpers/Producer-Consumer/TestConsumer.cs
  application/Common/SharedTest/TestHelpers/Producer-Consumer/TestProducer.cs
  application/Common/SharedTest/TestHelpers/Result/ITestResult.cs
  application/Common/SharedTest/TestHelpers/Result/TestResult.cs
  application/Common/SharedTest/UnitTest1.cs
  application/Common/SharedTest/Utility/DirectoryPathTest.cs
  application/Common/SharedTest/Utility/FilePathTest.cs
  application/Common/SharedTest/Utility/UtilityTest.cs
  application/Core/MORR/Session/SessionManager.cs
  application/MORR.sln.DotSettings
  application/Modules/ClipboardTest/ClipboardModuleTest.cs
  application/Modules/MouseTest/MouseModuleTest.cs
  application/Modules/WindowManagementTest/WindowManagementModuleTest.cs
Labels: SHARED, TESTING

#142 Add webextension unittests
  application/BrowserExtension/package-lock.json
  application/BrowserExtension/package.json
  application/BrowserExtension/src/__tests__/BackgroundScript.test.ts
  application/BrowserExtension/src/__tests__/ListenerManager.test.ts
  application/BrowserExtension/src/__tests__/Listeners/DOM/ContentScript/DOMEventFactory.test.ts
  application/BrowserExtension/src/__tests__/Listeners/DOM/DOMEvents.test.ts
  application/BrowserExtension/src/__tests__/Listeners/DOM/DOMListener.test.ts
  application/BrowserExtension/src/__tests__/Listeners/Download/DownloadEventFactory.test.ts
  application/BrowserExtension/src/__tests__/Listeners/Tab/TabEventFactory.test.ts
  application/BrowserExtension/src/__tests__/Listeners/Tab/TabListener.test.ts
  application/BrowserExtension/src/__tests__/PostHTTPInterface.test.ts
  application/BrowserExtension/src/__tests__/Shared/BrowserEvent.tests.ts
  application/BrowserExtension/src/background.ts
Labels: TESTING, WEBEX

#144 Add localization
  application/Core/UI/App.xaml
  application/Core/UI/App.xaml.cs
  application/Core/UI/Dialogs/ErrorDialog.xaml
  application/Core/UI/Dialogs/InformationDialog.xaml
  application/Core/UI/Dialogs/SaveDialog.xaml
  application/Core/UI/Properties/Resources.Designer.cs
  application/Core/UI/Properties/Resources.de-DE.Designer.cs
  application/Core/UI/Properties/Resources.de-DE.resx
  application/Core/UI/Properties/Resources.resx
  application/Core/UI/UI.csproj
  application/Core/UI/ViewModels/ApplicationViewModel.cs
Labels: UI

#147 Add CryptoHelper and add hashed user name to session name
  application/Core/MORR/Session/Crypto/CryptoHelper.cs
  application/Core/MORR/Session/SessionManager.cs
Labels: CORE, enhancement

#146 Add Webbrowser module unittests
  application/Modules/WebBrowser/WebBrowserModule.cs
  application/Modules/WebBrowser/WebExtensionListener.cs
  application/Modules/WebBrowserTest/WebBrowserEventTest.cs
  application/Modules/WebBrowserTest/WebBrowserModuleTest.cs
Labels: MODULES, TESTING

#143 Refactor ClipboardModule
  application/Modules/Clipboard/ClipboardModule.cs
  application/Modules/Clipboard/Native/ClipboardWindowMessageSink.cs
  application/Modules/Clipboard/Producers/ClipboardCopyEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardCutEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardPasteEventProducer.cs
Labels: MODULES, bug

#155 Add unittests for keyboard module
  application/Common/HookLibrary/dllmain.cpp
  application/Modules/Keyboard/Events/KeyboardInteractEvent.cs
  application/Modules/Keyboard/Native/INativeKeyboard.cs
  application/Modules/Keyboard/Native/NativeKeyboard.cs
  application/Modules/Keyboard/Producers/KeyboardInteractEventProducer.cs
  application/Modules/KeyboardTest/KeyboardModuleTest.cs
  application/Modules/KeyboardTest/KeyboardTest.csproj
  application/Modules/KeyboardTest/Producers/KeyboardInteractEventProducerModifierKeysTest.cs
  application/Modules/KeyboardTest/Producers/KeyboardInteractEventProducerPressedKeyTest.cs
  application/Modules/KeyboardTest/Producers/KeyboardInteractEventProducerUnicodeTest.cs
  application/Modules/KeyboardTest/Producers/ProducersTest.cs
Labels: MODULES, TESTING

#149 Improve WebBrowserModule
  application/Modules/WebBrowser/WebBrowserModule.cs
  application/Modules/WebBrowser/WebExtensionListener.cs
  application/Modules/WebBrowserTest/WebBrowserModuleTest.cs
Labels: MODULES, bug, enhancement

#150 Enable default configuration paths
  application/Core/UI/App.xaml.cs
  application/Core/UI/Properties/Resources.Designer.cs
  application/Core/UI/Properties/Resources.de-DE.resx
  application/Core/UI/Properties/Resources.resx
  application/Core/UI/Properties/launchSettings.json
  application/Core/UI/ViewModels/ApplicationViewModel.cs
Labels: UI

#151 Add confirmation dialog when deleting a recording
  application/Core/UI/Dialogs/ConfirmationDialog.xaml
  application/Core/UI/Dialogs/ConfirmationDialog.xaml.cs
  application/Core/UI/Properties/Resources.Designer.cs
  application/Core/UI/Properties/Resources.de-DE.resx
  application/Core/UI/Properties/Resources.resx
  application/Core/UI/ViewModels/ApplicationViewModel.cs
Labels: UI

#166 Added tests for WebBrowserModuleConfiguration
  application/Modules/WebBrowserTest/WebBrowserModuleConfigurationTest.cs
Labels: MODULES, TESTING

#152 Add unittests for mouse module
  application/Modules/Mouse/Native/INativeMouse.cs
  application/Modules/Mouse/Native/NativeMouse.cs
  application/Modules/Mouse/Producers/MouseMoveEventProducer.cs
  application/Modules/Mouse/Producers/MouseScrollEventProducer.cs
  application/Modules/MouseTest/MouseModuleConfigurationTest.cs
  application/Modules/MouseTest/MouseModuleTest.cs
  application/Modules/MouseTest/MouseTest.csproj
  application/Modules/MouseTest/Producers/MouseClickEventProducerTest.cs
  application/Modules/MouseTest/Producers/MouseMoveEventProducerTest.cs
  application/Modules/MouseTest/Producers/MouseScrollEventProducerTest.cs
Labels: MODULES, TESTING

#157 Update test cases and version history
  documents/fsd/chapter/tests.tex
  documents/fsd/chapter/versionhistory.tex
Labels: documentation

#156 Add sample webpage for manual testing
  testpage/IntegrationTestPage.html
  testpage/SubPages/CloseTabSubPage.html
  testpage/SubPages/HrefToHere.html
  testpage/SubPages/SwitchTabSubPage.html
  testpage/SubPages/download.png
Labels: MODULES, TESTING, WEBEX

#159 Cliboard module not recording certain events
  application/Modules/Clipboard/ClipboardModule.cs
  application/Modules/Clipboard/Producers/ClipboardCopyEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardCutEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardPasteEventProducer.cs
Labels: MODULES, bug

#153 Add tests for clipboard and window management modules
  application/Modules/Clipboard/ClipboardModule.cs
  application/Modules/Clipboard/Native/ClipboardWindowMessageSink.cs
  application/Modules/Clipboard/Native/IClipboardWindowMessageSink.cs
  application/Modules/Clipboard/Producers/ClipboardCopyEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardCutEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardPasteEventProducer.cs
  application/Modules/ClipboardTest/ClipboardCopyEventProducerTest.cs
  application/Modules/ClipboardTest/ClipboardCutEventProducerTest.cs
  application/Modules/ClipboardTest/ClipboardEventTest.cs
  application/Modules/ClipboardTest/ClipboardModuleTest.cs
  application/Modules/ClipboardTest/ClipboardPasteEventProducerTest.cs
  application/Modules/ClipboardTest/ClipboardTest.csproj
  application/Modules/ClipboardTest/ClipboardWindowMessageSinkMock.cs
  application/Modules/ClipboardTest/NativeClipboardMock.cs
  application/Modules/WindowManagement/Native/INativeWindowManagement.cs
  application/Modules/WindowManagement/Native/NativeWindowManagement.cs
  application/Modules/WindowManagement/Producers/WindowFocusEventProducer.cs
  application/Modules/WindowManagement/Producers/WindowMovementEventProducer.cs
  application/Modules/WindowManagement/Producers/WindowResizingEventProducer.cs
  application/Modules/WindowManagement/Producers/WindowStateChangedEventProducer.cs
  application/Modules/WindowManagement/WindowManagementModule.cs
  application/Modules/WindowManagementTest/NativeWindowMock.cs
  application/Modules/WindowManagementTest/WindowEventTest.cs
  application/Modules/WindowManagementTest/WindowFocusEventProducerTest.cs
  application/Modules/WindowManagementTest/WindowManagementModuleTest.cs
  application/Modules/WindowManagementTest/WindowManagementTest.csproj
  application/Modules/WindowManagementTest/WindowMovementEventProducerTest.cs
  application/Modules/WindowManagementTest/WindowResizingEventProducerTest.cs
  application/Modules/WindowManagementTest/WindowStateChangedEventProducerTest.cs
Labels: MODULES, TESTING

#178 Disable FreeConsumer test as long #173 is resolved
  application/Common/SharedTest/Events/Queue/Strategy/MultiConsumer/MultiConsumerChannelStrategyTest.cs
Labels: SHARED, TESTING, bug

#179 Add Tests for JsonEncoder and JsonDecoder
  application/Core/MORR/Data/Transcoding/Json/JsonDecoder.cs
  application/Core/MORR/Data/Transcoding/Json/JsonEncoder.cs
  application/Core/MORRTest/Data/Capture/Video/Desktop/DesktopCaptureTest.cs
  application/Core/MORRTest/Data/Capture/Video/Desktop/Utility/Direct3D11HelperTest.cs
  application/Core/MORRTest/Data/Capture/Video/Desktop/Utility/GraphicsCaptureHelperTest.cs
  application/Core/MORRTest/Data/Capture/Video/Desktop/Utility/MonitorEnumerationHelperTest.cs
  application/Core/MORRTest/Data/Capture/Video/Desktop/VideoSampleProducerTest.cs
  application/Core/MORRTest/Data/Transcoding/Json/JsonDecoderTest.cs
  application/Core/MORRTest/Data/Transcoding/Json/JsonEncoderTest.cs
  application/Core/MORRTest/TestHelper/Json/JsonManualSerialization.cs
Labels: CORE, TESTING

#188 Improve EnqueueAsync method on heavy load
  application/Common/Shared/Events/Queue/Strategy/MultiConsumer/MultiConsumerChannelStrategy.cs
  application/Common/Shared/Events/Queue/Strategy/SingleConsumer/SingleConsumerChannelStrategy.cs
Labels: SHARED, enhancement, important

#184 Update Webextension metadata
  application/BrowserExtension/materials/manifest.json
  application/BrowserExtension/package.json
Labels: WEBEX, documentation

#181 Update FSD
  documents/fsd/chapter/data.tex
  documents/fsd/chapter/func.tex
  documents/fsd/chapter/goals.tex
  documents/fsd/chapter/scenarios.tex
  documents/fsd/chapter/tests.tex
  documents/fsd/chapter/versionhistory.tex
Labels: documentation

#174 Add manual Integrationtests
  testpage/Modules/ClipboardModule/IntegrationTestPage.html
  testpage/Modules/ClipboardModule/config.morr
  testpage/Modules/KeyboardModule/IntegrationTestPage.html
  testpage/Modules/KeyboardModule/config.morr
  testpage/Modules/MouseModule/IntegrationTestPage.html
  testpage/Modules/MouseModule/config.morr
  testpage/Modules/WebBrowserModule/IntegrationTestPage.html
  testpage/Modules/WebBrowserModule/SubPages/CloseTabSubPage.html
  testpage/Modules/WebBrowserModule/SubPages/HrefToHere.html
  testpage/Modules/WebBrowserModule/SubPages/SwitchTabSubPage.html
  testpage/Modules/WebBrowserModule/SubPages/download.png
  testpage/Modules/WebBrowserModule/config.morr
  testpage/Modules/WindowManagementModule/IntegrationTestPage.html
  testpage/Modules/WindowManagementModule/config.morr
  testpage/index.html
Labels: TESTING, documentation

#191 Fix race conditions of failing tests
  application/Common/SharedTest/Events/Queue/Strategy/MultiConsumer/MultiConsumerChannelStrategyTest.cs
  application/Core/MORRTest/Data/IntermediateFormat/Json/JsonIntermediateFormatSerializerTest.cs
Labels: SHARED, TESTING

#194 Resolve warnings for Modules, UI, CLI
  application/Core/CLI/Commands/Processing/ProcessCommand.cs
  application/Core/CLI/Commands/Processing/ProcessOptions.cs
  application/Core/CLI/Commands/Record/RecordOptions.cs
  application/Core/CLI/Commands/Validate/ValidateOptions.cs
  application/Core/UI/Utility/WindowMessageSink.cs
  application/Core/UI/ViewModels/ApplicationViewModel.cs
  application/Modules/Clipboard/ClipboardModule.cs
  application/Modules/Clipboard/Events/ClipboardEvent.cs
  application/Modules/Clipboard/Native/ClipboardWindowMessageSink.cs
  application/Modules/Clipboard/Producers/ClipboardCopyEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardCutEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardPasteEventProducer.cs
  application/Modules/Keyboard/Events/KeyboardInteractEvent.cs
  application/Modules/Keyboard/KeyboardModule.cs
  application/Modules/Keyboard/Producers/KeyboardInteractEventProducer.cs
  application/Modules/Mouse/Events/MouseClickEvent.cs
  application/Modules/Mouse/Events/MouseScrollEvent.cs
  application/Modules/Mouse/MouseModule.cs
  application/Modules/Mouse/Producers/MouseMoveEventProducer.cs
  application/Modules/WebBrowser/Events/ButtonClickEvent.cs
  application/Modules/WebBrowser/Events/FileDownloadEvent.cs
  application/Modules/WebBrowser/Events/HoverEvent.cs
  application/Modules/WebBrowser/Events/TextInputEvent.cs
  application/Modules/WebBrowser/Events/TextSelectionEvent.cs
  application/Modules/WebBrowser/Events/WebBrowserEvent.cs
  application/Modules/WebBrowser/WebBrowserModule.cs
  application/Modules/WebBrowser/WebBrowserModuleConfiguration.cs
  application/Modules/WebBrowser/WebExtensionListener.cs
  application/Modules/WebBrowserTest/WebBrowserModuleTest.cs
  application/Modules/WindowManagement/Events/WindowEvent.cs
  application/Modules/WindowManagement/Producers/WindowFocusEventProducer.cs
  application/Modules/WindowManagement/Producers/WindowMovementEventProducer.cs
  application/Modules/WindowManagement/Producers/WindowResizingEventProducer.cs
  application/Modules/WindowManagement/Producers/WindowStateChangedEventProducer.cs
  application/Modules/WindowManagement/WindowManagementModule.cs
Labels: CLI, MODULES, UI

#195 Update readme
  README.md
Labels: documentation

#192 Fix build warnings in Core, Shared, CLI and UI.
  application/Common/Shared/Hook/GlobalHook.cs
  application/Common/Shared/Utility/DirectoryPath.cs
  application/Common/Shared/Utility/FilePath.cs
  application/Common/SharedTest/Events/Queue/EventQueueTest.cs
  application/Common/SharedTest/TestHelpers/Event/TestEvent.cs
  application/Core/CLI/Commands/Processing/ProcessCommand.cs
  application/Core/CLI/Commands/Processing/ProcessOptions.cs
  application/Core/CLI/Commands/Record/RecordOptions.cs
  application/Core/CLI/Commands/Validate/ValidateOptions.cs
  application/Core/MORR/Bootstrapper.cs
  application/Core/MORR/Data/Capture/Video/Desktop/DesktopCapture.cs
  application/Core/MORR/Data/Capture/Video/Desktop/Utility/MonitorEnumerationHelper.cs
  application/Core/MORR/Data/Capture/Video/Desktop/VideoSampleProducer.cs
  application/Core/MORR/Data/Capture/Video/DirectXVideoSample.cs
  application/Core/MORR/Data/IntermediateFormat/IntermediateFormatSample.cs
  application/Core/MORR/Data/IntermediateFormat/Json/JsonIntermediateFormatDeserializer.cs
  application/Core/MORR/Data/IntermediateFormat/Json/JsonIntermediateFormatSerializer.cs
  application/Core/MORR/Data/Transcoding/Json/JsonDecoder.cs
  application/Core/MORR/Data/Transcoding/Json/JsonDecoderConfiguration.cs
  application/Core/MORR/Data/Transcoding/Json/JsonEncoder.cs
  application/Core/MORR/Data/Transcoding/Json/JsonEncoderConfiguration.cs
  application/Core/MORR/Data/Transcoding/MPEG/MPEGEncoder.cs
  application/Core/MORR/Data/Transcoding/MPEG/MPEGEncoderConfiguration.cs
  application/Core/MORR/Modules/GlobalModuleConfiguration.cs
  application/Core/MORR/Modules/ModuleManager.cs
  application/Core/MORR/Session/SessionConfiguration.cs
  application/Core/MORR/Session/SessionManager.cs
  application/Core/MORRTest/Session/SessionManagerTest.cs
  application/Core/UI/Utility/WindowMessageSink.cs
  application/Core/UI/ViewModels/ApplicationViewModel.cs
  application/Modules/Clipboard/ClipboardModule.cs
  application/Modules/Clipboard/Events/ClipboardEvent.cs
  application/Modules/Clipboard/Native/ClipboardWindowMessageSink.cs
  application/Modules/Clipboard/Producers/ClipboardCopyEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardCutEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardPasteEventProducer.cs
  application/Modules/Keyboard/Events/KeyboardInteractEvent.cs
  application/Modules/Keyboard/KeyboardModule.cs
  application/Modules/Keyboard/Producers/KeyboardInteractEventProducer.cs
  application/Modules/Mouse/Events/MouseClickEvent.cs
  application/Modules/Mouse/Events/MouseScrollEvent.cs
  application/Modules/Mouse/MouseModule.cs
  application/Modules/Mouse/Producers/MouseMoveEventProducer.cs
  application/Modules/WebBrowser/Events/ButtonClickEvent.cs
  application/Modules/WebBrowser/Events/FileDownloadEvent.cs
  application/Modules/WebBrowser/Events/HoverEvent.cs
  application/Modules/WebBrowser/Events/TextInputEvent.cs
  application/Modules/WebBrowser/Events/TextSelectionEvent.cs
  application/Modules/WebBrowser/Events/WebBrowserEvent.cs
  application/Modules/WebBrowser/WebBrowserModule.cs
  application/Modules/WebBrowser/WebBrowserModuleConfiguration.cs
  application/Modules/WebBrowser/WebExtensionListener.cs
  application/Modules/WebBrowserTest/WebBrowserModuleTest.cs
  application/Modules/WindowManagement/Events/WindowEvent.cs
  application/Modules/WindowManagement/Producers/WindowFocusEventProducer.cs
  application/Modules/WindowManagement/Producers/WindowMovementEventProducer.cs
  application/Modules/WindowManagement/Producers/WindowResizingEventProducer.cs
  application/Modules/WindowManagement/Producers/WindowStateChangedEventProducer.cs
  application/Modules/WindowManagement/WindowManagementModule.cs
Labels: CLI, CORE, SHARED, UI, enhancement

#196 Update version number in package-lock file
  application/BrowserExtension/package-lock.json
Labels: WEBEX, documentation

#198 Fix videocapture bug
  application/Core/MORR/Data/Transcoding/MPEG/MPEGEncoder.cs
Labels: CORE, bug

#203 Improve error messages
  application/BrowserExtension/materials/options.html
  application/BrowserExtension/materials/options.js
  application/BrowserExtension/src/ApplicationInterface/PostHTTPInterface.ts
  application/Core/UI/Dialogs/ErrorDialog.xaml
  application/Core/UI/Properties/Resources.Designer.cs
  application/Core/UI/Properties/Resources.de-DE.resx
  application/Core/UI/Properties/Resources.resx
  application/Core/UI/ViewModels/ApplicationViewModel.cs
Labels: UI, important

#202 Simplify installation / distribute dependencies
  application/BuildEnvironment/config.morr
  application/Common/HookLibrary/HookLibrary.vcxproj
  application/Common/SharedTest/SharedTest.csproj
  application/Common/Win32HookHelper/Win32HookHelper.vcxproj
  application/Core/CLITest/CLITest.csproj
  application/Core/MORRTest/MORRTest.csproj
  application/Core/UITest/UITest.csproj
  application/Modules/ClipboardTest/ClipboardTest.csproj
  application/Modules/KeyboardTest/KeyboardTest.csproj
  application/Modules/MouseTest/MouseTest.csproj
  application/Modules/WebBrowserTest/WebBrowserTest.csproj
  application/Modules/WindowManagementTest/WindowManagementTest.csproj
  application/publish.bat
Labels: enhancement, important

#206 Add quickstart guide
  README.md
  documents/screenshots/Install.png
  documents/screenshots/Recording.png
  documents/screenshots/RecordingDir.png
  documents/screenshots/SourceSelection.png
  documents/screenshots/Trayicon.png
  documents/screenshots/TrayiconExtended.png
  documents/screenshots/Traymenu.png
  documents/screenshots/WebexConfig.png
  documents/screenshots/WebexIcon.png
Labels: documentation

#213 Convert WebBrowserEvent timestamps to local time.
  application/Modules/WebBrowser/Events/WebBrowserEvent.cs
  application/Modules/WebBrowserTest/WebBrowserModuleTest.cs
Labels: MODULES, bug

#212 Create License
  LICENSE
Labels: documentation
