Repository insightmind/MORR, pull requests merged in 2020-02, with the labels that each got.

#76 Improve module loading
  application/BuildEnvironment/config.morr
  application/Common/Shared/Utility/Utility.cs
  application/Core/MORR/Bootstrapper.cs
  application/Core/MORR/Configuration/ConfigurationManager.cs
  application/Core/MORR/MORR.csproj
  application/Core/MORR/Modules/GlobalModuleConfiguration.cs
  application/Core/MORR/Session/SessionConfiguration.cs
  application/Modules/Clipboard/Clipboard.csproj
  application/Modules/Keyboard/Keyboard.csproj
  application/Modules/Mouse/Mouse.csproj
  application/Modules/WebBrowser/WebBrowser.csproj
  application/Modules/WindowManagement/WindowManagement.csproj
Labels: CORE

#73 Add global hook.
  .github/workflows/dotnetcore.yml
  application/Common/HookLibrary/HookLibrary.vcxproj
  application/Common/HookLibrary/HookLibrary.vcxproj.filters
  application/Common/HookLibrary/dllmain.cpp
  application/Common/HookLibrary/dllmain.h
  application/Common/Shared/Utility/Exceptions/HookLibraryException.cs
  application/Common/Shared/Utility/GlobalHook.cs
  application/Common/Shared/Utility/NativeMethods.cs
  application/MORR.sln
Labels: SHARED

#79 [77] Implement CLI session exit
  application/Common/Shared/Utility/NativeMethods.cs
  application/Core/CLI/Commands/Command.cs
  application/Core/CLI/Commands/CommandOptions.cs
  application/Core/CLI/Commands/ICommandOptions.cs
  application/Core/CLI/Commands/Processing/ProcessCommand.cs
  application/Core/CLI/Commands/Processing/ProcessOptions.cs
  application/Core/CLI/Commands/Record/RecordCommand.cs
  application/Core/CLI/Commands/Record/RecordOptions.cs
  application/Core/CLI/Commands/Validate/ValidateCommand.cs
  application/Core/CLI/Commands/Validate/ValidateOptions.cs
  application/Core/CLI/Demo/DemoEvent.cs
  application/Core/CLI/Demo/DemoProducer.cs
  application/Core/CLI/Interactive/InteractiveCommandLine.cs
  application/Core/CLI/Program.cs
  application/Core/CLI/Properties/launchSettings.json
Labels: CLI

#82 Fixed GlobalHook sometimes not properly attaching.
  application/Common/HookLibrary/dllmain.cpp
  application/Common/Shared/Utility/GlobalHook.cs
Labels: SHARED

#83 Add icons to browser extension
  application/BrowserExtension/materials/logos/morr_active_recording.png
  application/BrowserExtension/materials/logos/morr_default.png
  application/BrowserExtension/materials/manifest.json
  application/BrowserExtension/src/background.ts
Labels: WEBEX

#80 Implement Clipboard module
  application/BuildEnvironment/config.morr
  application/Common/Shared/Utility/NativeMethods.cs
  application/Modules/Clipboard/Clipboard.csproj
  application/Modules/Clipboard/ClipboardModule.cs
  application/Modules/Clipboard/Events/ClipBoardInteractEvent.cs
  application/Modules/Clipboard/Events/ClipboardCopyEvent.cs
  application/Modules/Clipboard/Events/ClipboardCutEvent.cs
  application/Modules/Clipboard/Events/ClipboardEvent.cs
  application/Modules/Clipboard/Events/ClipboardPasteEvent.cs
  application/Modules/Clipboard/Producers/ClipboardCopyEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardCutEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardInteractEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardPasteEventProducer.cs
Labels: MODULES

#50 Implement Mousemodule
  application/BuildEnvironment/config.morr
  application/Common/HookLibrary/dllmain.cpp
  application/Common/Shared/Shared.csproj
  application/Common/Shared/Utility/NativeMethods.cs
  application/Modules/Mouse/Events/MouseClickEvent.cs
  application/Modules/Mouse/Events/MouseEvent.cs
  application/Modules/Mouse/Events/MouseMoveEvent.cs
  application/Modules/Mouse/Events/MouseScrollEvent.cs
  application/Modules/Mouse/Mouse.csproj
  application/Modules/Mouse/MouseModule.cs
  application/Modules/Mouse/MouseModuleConfiguration.cs
  application/Modules/Mouse/Producers/MouseClickEventProducer.cs
  application/Modules/Mouse/Producers/MouseMoveEventProducer.cs
  application/Modules/Mouse/Producers/MouseScrollEventProducer.cs
Labels: MODULES

#84 Fix WebBrowser module
  application/Modules/WebBrowser/EventLabel.cs
  application/Modules/WebBrowser/Events/ButtonClickEvent.cs
  application/Modules/WebBrowser/Events/CloseTabEvent.cs
  application/Modules/WebBrowser/Events/FileDownloadEvent.cs
  application/Modules/WebBrowser/Events/HoverEvent.cs
  application/Modules/WebBrowser/Events/NavigationEvent.cs
  application/Modules/WebBrowser/Events/OpenTabEvent.cs
  application/Modules/WebBrowser/Events/SwitchTabEvent.cs
  application/Modules/WebBrowser/Events/TextInputEvent.cs
  application/Modules/WebBrowser/Events/TextSelectionEvent.cs
  application/Modules/WebBrowser/Events/WebBrowserEvent.cs
  application/Modules/WebBrowser/IWebBrowserEventObserver.cs
  application/Modules/WebBrowser/Producers/ButtonClickEventProducer.cs
  application/Modules/WebBrowser/Producers/CloseTabEventProducer.cs
  application/Modules/WebBrowser/Producers/FileDownloadEventProducer.cs
  application/Modules/WebBrowser/Producers/HoverEventProducer.cs
  application/Modules/WebBrowser/Producers/NavigationEventProducer.cs
  application/Modules/WebBrowser/Producers/OpenTabEventProducer.cs
  application/Modules/WebBrowser/Producers/SwitchTabEventProducer.cs
  application/Modules/WebBrowser/Producers/TextInputEventProducer.cs
  application/Modules/WebBrowser/Producers/TextSelectionEventProducer.cs
  application/Modules/WebBrowser/Producers/WebBrowserEventProducer.cs
  application/Modules/WebBrowser/WebBrowserModule.cs
  application/Modules/WebBrowser/WebExtensionListener.cs
Labels: MODULES

#85 Implement JsonEncoder and JsonDecoder
  application/BuildEnvironment/config.morr
  application/Common/Shared/Events/Queue/Aliases.cs
  application/Core/CLI/Output/OutputFormatter.cs
  application/Core/MORR/Data/IntermediateFormat/IntermediateFormatSample.cs
  application/Core/MORR/Data/IntermediateFormat/Json/JsonIntermediateFormatDeserializer.cs
  application/Core/MORR/Data/IntermediateFormat/Json/JsonIntermediateFormatSample.cs
  application/Core/MORR/Data/IntermediateFormat/Json/JsonIntermediateFormatSerializer.cs
  application/Core/MORR/Data/Transcoding/Exceptions/DecodingException.cs
  application/Core/MORR/Data/Transcoding/Json/JsonDecoder.cs
  application/Core/MORR/Data/Transcoding/Json/JsonEncoder.cs
  application/Core/MORR/MORR.csproj
Labels: CORE

#94 Fix DllNotFoundException for vcruntime140_cor3.dll
  application/Modules/Mouse/Mouse.csproj
Labels: CORE, bug

#100 Fix cancel monitor selection indefinite wait
  application/Core/MORR/Data/Capture/Video/Desktop/DesktopCapture.cs
Labels: CORE, bug

#98 Allow multiple encoders/decoders
  application/BuildEnvironment/config.morr
  application/Core/MORR/Data/Capture/Video/Desktop/DesktopCapture.cs
  application/Core/MORR/Session/SessionConfiguration.cs
  application/Core/MORR/Session/SessionManager.cs
Labels: CORE

#95 Stop sessions correctly
  application/BuildEnvironment/config.morr
  application/Common/Shared/Events/Queue/DecodeableEventQueue.cs
  application/Common/Shared/Events/Queue/EncodeableEventQueue.cs
  application/Common/Shared/Events/Queue/IDecodeableEventQueue.cs
  application/Common/Shared/Events/Queue/IEncodeableEventQueue.cs
  application/Common/Shared/Events/Queue/ISupportDeserializationEventQueue.cs
  application/Common/Shared/Events/Queue/ReadOnlyEventQueue.cs
  application/Common/Shared/Events/Queue/Strategy/IEventQueueStorageStrategy.cs
  application/Common/Shared/Events/Queue/Strategy/MultiConsumer/MultiConsumerChannelStrategy.cs
  application/Common/Shared/Events/Queue/Strategy/SingleConsumer/SingleConsumerChannelStrategy.cs
  application/Common/Shared/Events/Queue/SupportDeserializationEventQueue.cs
  application/Core/CLI/Output/OutputFormatter.cs
  application/Core/MORR/Data/Capture/Video/Desktop/DesktopCapture.cs
  application/Core/MORR/Data/Capture/Video/Desktop/VideoSampleProducer.cs
  application/Core/MORR/Data/IntermediateFormat/Json/JsonIntermediateFormatDeserializer.cs
  application/Core/MORR/Data/IntermediateFormat/Json/JsonIntermediateFormatSerializer.cs
  application/Core/MORR/Data/Transcoding/IDecoder.cs
  application/Core/MORR/Data/Transcoding/IEncoder.cs
  application/Core/MORR/Data/Transcoding/Json/JsonDecoder.cs
  application/Core/MORR/Data/Transcoding/Json/JsonEncoder.cs
  application/Core/MORR/Data/Transcoding/MPEG/MPEGEncoder.cs
  application/Core/MORR/Session/SessionConfiguration.cs
  application/Core/MORR/Session/SessionManager.cs
  application/Modules/Clipboard/Producers/ClipboardCopyEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardCutEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardPasteEventProducer.cs
  application/Modules/Keyboard/Producers/KeyboardInteractEventProducer.cs
  application/Modules/Mouse/Producers/MouseClickEventProducer.cs
  application/Modules/Mouse/Producers/MouseMoveEventProducer.cs
  application/Modules/Mouse/Producers/MouseScrollEventProducer.cs
  application/Modules/WebBrowser/IWebBrowserEventObserver.cs
  application/Modules/WebBrowser/Producers/WebBrowserEventProducer.cs
  application/Modules/WebBrowser/WebBrowserModule.cs
Labels: CORE

#96 Refactor directory handling
  application/BuildEnvironment/config.morr
  application/Common/Shared/Events/Queue/DecodeableEventQueue.cs
  application/Common/Shared/Events/Queue/EncodeableEventQueue.cs
  application/Common/Shared/Events/Queue/IDecodeableEventQueue.cs
  application/Common/Shared/Events/Queue/IEncodeableEventQueue.cs
  application/Common/Shared/Events/Queue/ISupportDeserializationEventQueue.cs
  application/Common/Shared/Events/Queue/ReadOnlyEventQueue.cs
  application/Common/Shared/Events/Queue/Strategy/IEventQueueStorageStrategy.cs
  application/Common/Shared/Events/Queue/Strategy/MultiConsumer/MultiConsumerChannelStrategy.cs
  application/Common/Shared/Events/Queue/Strategy/SingleConsumer/SingleConsumerChannelStrategy.cs
  application/Common/Shared/Events/Queue/SupportDeserializationEventQueue.cs
  application/Common/Shared/Utility/DirectoryPath.cs
  application/Common/Shared/Utility/FilePath.cs
  application/Core/CLI/Commands/Processing/ProcessCommand.cs
  application/Core/CLI/Output/OutputFormatter.cs
  application/Core/MORR/Data/Capture/Video/Desktop/DesktopCapture.cs
  application/Core/MORR/Data/Capture/Video/Desktop/VideoSampleProducer.cs
  application/Core/MORR/Data/IntermediateFormat/Json/JsonIntermediateFormatDeserializer.cs
  application/Core/MORR/Data/IntermediateFormat/Json/JsonIntermediateFormatSerializer.cs
  application/Core/MORR/Data/Transcoding/IDecoder.cs
  application/Core/MORR/Data/Transcoding/IEncoder.cs
  application/Core/MORR/Data/Transcoding/Json/JsonDecoder.cs
  application/Core/MORR/Data/Transcoding/Json/JsonDecoderConfiguration.cs
  application/Core/MORR/Data/Transcoding/Json/JsonEncoder.cs
  application/Core/MORR/Data/Transcoding/Json/JsonEncoderConfiguration.cs
  application/Core/MORR/Data/Transcoding/MPEG/MPEGEncoder.cs
  application/Core/MORR/Data/Transcoding/MPEG/MPEGEncoderConfiguration.cs
  application/Core/MORR/Session/ISessionManager.cs
  application/Core/MORR/Session/SessionConfiguration.cs
  application/Core/MORR/Session/SessionManager.cs
  application/Modules/Clipboard/Producers/ClipboardCopyEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardCutEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardPasteEventProducer.cs
  application/Modules/Keyboard/Producers/KeyboardInteractEventProducer.cs
  application/Modules/Mouse/Producers/MouseClickEventProducer.cs
  application/Modules/Mouse/Producers/MouseMoveEventProducer.cs
  application/Modules/Mouse/Producers/MouseScrollEventProducer.cs
  application/Modules/WebBrowser/IWebBrowserEventObserver.cs
  application/Modules/WebBrowser/Producers/WebBrowserEventProducer.cs
  application/Modules/WebBrowser/WebBrowserModule.cs
Labels: CORE

#101 CLI Unit tests
  application/Common/Shared/Utility/NativeMethods.cs
  application/Common/SharedTest/SharedTest.csproj
  application/Core/CLI/Commands/Command.cs
  application/Core/CLI/Commands/CommandOptions.cs
  application/Core/CLI/Commands/Processing/ProcessCommand.cs
  application/Core/CLI/Commands/Processing/ProcessOptions.cs
  application/Core/CLI/Commands/Record/RecordCommand.cs
  application/Core/CLI/Commands/Record/RecordOptions.cs
  application/Core/CLI/Commands/Validate/ValidateCommand.cs
  application/Core/CLI/Commands/Validate/ValidateOptions.cs
  application/Core/CLI/Interactive/IInteractiveCommandLine.cs
  application/Core/CLI/Interactive/InteractiveCommandLine.cs
  application/Core/CLI/Output/ConsoleFormatter.cs
  application/Core/CLI/Output/IConsoleFormatter.cs
  application/Core/CLI/Output/IOutputFormatter.cs
  application/Core/CLI/Output/OutputFormatter.cs
  application/Core/CLI/Program.cs
  application/Core/CLI/Utility/IMessageLoop.cs
  application/Core/CLI/Utility/MessageLoop.cs
  application/Core/CLITest/CLITest.csproj
  application/Core/CLITest/Commands/ProcessCommandTest.cs
  application/Core/CLITest/Commands/RecordCommandTest.cs
  application/Core/CLITest/Commands/ValidateCommandTest.cs
  application/Core/CLITest/Interactive/InteractiveCommandLineTest.cs
  application/Core/CLITest/Output/ConsoleFormatterTest.cs
  application/Core/CLITest/UnitTest1.cs
  application/Core/CLITest/Utility/MessageLoopTest.cs
  application/Core/MORRTest/MORRTest.csproj
  application/Core/UITest/UITest.csproj
  application/Modules/ClipboardTest/ClipboardTest.csproj
  application/Modules/KeyboardTest/KeyboardTest.csproj
  application/Modules/MouseTest/MouseTest.csproj
  application/Modules/WebBrowserTest/WebBrowserTest.csproj
  application/Modules/WindowManagementTest/WindowManagementTest.csproj
Labels: CLI, TESTING

#102 Feature/21 implement windowmanagement module
  application/BuildEnvironment/config.morr
  application/Common/HookLibrary/dllmain.cpp
  application/Common/Shared/Utility/NativeMethods.cs
  application/Common/Shared/Utility/Utility.cs
  application/Modules/WindowManagement/Events/WindowEvent.cs
  application/Modules/WindowManagement/Events/WindowFocusEvent.cs
  application/Modules/WindowManagement/Events/WindowMovementEvent.cs
  application/Modules/WindowManagement/Events/WindowStateChangedEvent.cs
  application/Modules/WindowManagement/Producers/WindowFocusEventProducer.cs
  application/Modules/WindowManagement/Producers/WindowMovementEventProducer.cs
  application/Modules/WindowManagement/Producers/WindowResizingEventProducer.cs
  application/Modules/WindowManagement/Producers/WindowStateChangedEventProducer.cs
  application/Modules/WindowManagement/WindowManagement.csproj
  application/Modules/WindowManagement/WindowManagementModule.cs
Labels: MODULES

#106 Update BrowserExtension section in SD document
  documents/sd/chapter/Classes/BrowserExtension/BackGround/BackGround.tex
  documents/sd/chapter/Classes/BrowserExtension/Content/Content.tex
  documents/sd/chapter/Classes/BrowserExtension/Listeners/Listeners.tex
  documents/sd/chapter/Classes/BrowserExtension/Shared/Shared.tex
  documents/sd/chapter/libraries.tex
  documents/sd/chapter/versionhistory.tex
  documents/sd/plantuml/application/BrowserExtension/BackGround/BackGroundScript.puml
  documents/sd/plantuml/application/BrowserExtension/BackGround/ICommunicationStrategy.puml
  documents/sd/plantuml/application/BrowserExtension/BackGround/ListenerManager.puml
  documents/sd/plantuml/application/BrowserExtension/BackGround/PostHTTPInterface.puml
  documents/sd/plantuml/application/BrowserExtension/BrowserExtension.puml
  documents/sd/plantuml/application/BrowserExtension/ContentScript/DOMEventFactory.puml
  documents/sd/plantuml/application/BrowserExtension/ContentScript/DOMEventRecorder.puml
  documents/sd/plantuml/application/BrowserExtension/Listeners/ButtonClickEvent.puml
  documents/sd/plantuml/application/BrowserExtension/Listeners/CloseTabEvent.puml
  documents/sd/plantuml/application/BrowserExtension/Listeners/DOMListener.puml
  documents/sd/plantuml/application/BrowserExtension/Listeners/DownloadEvent.puml
  documents/sd/plantuml/application/BrowserExtension/Listeners/DownloadEventFactory.puml
  documents/sd/plantuml/application/BrowserExtension/Listeners/HoverEvent.puml
  documents/sd/plantuml/application/BrowserExtension/Listeners/NavigationEvent.puml
  documents/sd/plantuml/application/BrowserExtension/Listeners/OpenTabEvent.puml
  documents/sd/plantuml/application/BrowserExtension/Listeners/SwitchTabEvent.puml
  documents/sd/plantuml/application/BrowserExtension/Listeners/TabEventFactory.puml
  documents/sd/plantuml/application/BrowserExtension/Listeners/TabListener.puml
  documents/sd/plantuml/application/BrowserExtension/Listeners/TextInputEvent.puml
  documents/sd/plantuml/application/BrowserExtension/Listeners/TextSelectionEvent.puml
  documents/sd/plantuml/application/BrowserExtension/Shared/BrowserEvent.puml
  documents/sd/plantuml/application/BrowserExtension/Shared/IEvent.puml
  documents/sd/plantuml/application/BrowserExtension/Shared/IListener.puml
  documents/sd/resources/Classes/BrowserExtension/BackGround/BackGroundScript.png
  documents/sd/resources/Classes/BrowserExtension/BackGround/ICommunicationStrategy.png
  documents/sd/resources/Classes/BrowserExtension/BackGround/ListenerManager.png
  documents/sd/resources/Classes/BrowserExtension/BackGround/PostHTTPInterface.png
  documents/sd/resources/Classes/BrowserExtension/Content/DOMEventFactory.png
  documents/sd/resources/Classes/BrowserExtension/Content/DOMEventRecorder.png
  documents/sd/resources/Classes/BrowserExtension/Listeners/ButtonClickEvent.png
  documents/sd/resources/Classes/BrowserExtension/Listeners/CloseTabEvent.png
  documents/sd/resources/Classes/BrowserExtension/Listeners/DownloadEvent.png
  documents/sd/resources/Classes/BrowserExtension/Listeners/DownloadEventFactory.png
  documents/sd/resources/Classes/BrowserExtension/Listeners/HoverEvent.png
  documents/sd/resources/Classes/BrowserExtension/Listeners/NavigationEvent.png
  documents/sd/resources/Classes/BrowserExtension/Listeners/OpenTabEvent.png
  documents/sd/resources/Classes/BrowserExtension/Listeners/SwitchTabEvent.png
  documents/sd/resources/Classes/BrowserExtension/Listeners/TabEventFactory.png
  documents/sd/resources/Classes/BrowserExtension/Listeners/TextInputEvent.png
  documents/sd/resources/Classes/BrowserExtension/Listeners/TextSelectionEvent.png
  documents/sd/resources/Classes/BrowserExtension/Shared/BrowserEvent.png
  documents/sd/resources/Classes/BrowserExtension/Shared/IEvent.png
  documents/sd/resources/Classes/BrowserExtension/Shared/IListener.png
Labels: WEBEX, documentation

#110 Split NativeMethods
  application/Common/Shared/Hook/Exceptions/HookLibraryException.cs
  application/Common/Shared/Hook/GlobalHook.cs
  application/Common/Shared/Utility/GlobalHook.cs
  application/Common/Shared/Utility/NativeMethods.cs
  application/Common/Shared/Utility/Utility.cs
  application/Core/CLI/Commands/Record/RecordCommand.cs
  application/Core/CLI/Utility/MessageLoop.cs
  application/Core/MORR/Data/Capture/Video/Desktop/DesktopCapture.cs
  application/Core/MORR/Data/Capture/Video/Desktop/Utility/DesktopCaptureNativeMethods.cs
  application/Core/MORR/Session/SessionManager.cs
  application/Modules/Clipboard/Native/ClipboardNativeMethods.cs
  application/Modules/Clipboard/Producers/ClipboardCopyEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardCutEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardPasteEventProducer.cs
  application/Modules/Keyboard/Native/KeyboardNativeMethods.cs
  application/Modules/Keyboard/Producers/KeyboardInteractEventProducer.cs
  application/Modules/Mouse/Native/MouseNativeMethods.cs
  application/Modules/Mouse/Producers/MouseClickEventProducer.cs
  application/Modules/Mouse/Producers/MouseMoveEventProducer.cs
  application/Modules/Mouse/Producers/MouseScrollEventProducer.cs
  application/Modules/WindowManagement/Native/WindowManagementNativeMethods.cs
  application/Modules/WindowManagement/Producers/WindowFocusEventProducer.cs
  application/Modules/WindowManagement/Producers/WindowMovementEventProducer.cs
  application/Modules/WindowManagement/Producers/WindowResizingEventProducer.cs
  application/Modules/WindowManagement/Producers/WindowStateChangedEventProducer.cs
  application/Modules/WindowManagement/WindowManagementModule.cs
Labels: MODULES, SHARED, enhancement

#108 Implement UI
  application/BuildEnvironment/config.morr
  application/Common/Shared/Events/Queue/Strategy/MultiConsumer/BoundedMultiConsumerChannelStrategy.cs
  application/Common/Shared/Events/Queue/Strategy/MultiConsumer/MultiConsumerChannelStrategy.cs
  application/Common/Shared/Events/Queue/Strategy/MultiConsumer/UnboundedMultiConsumerChannelStrategy.cs
  application/Common/Shared/Events/Queue/Strategy/SingleConsumer/BoundedSingleConsumerStrategy.cs
  application/Common/Shared/Events/Queue/Strategy/SingleConsumer/SingleConsumerChannelStrategy.cs
  application/Common/Shared/Events/Queue/Strategy/SingleConsumer/UnboundedSingleConsumerStrategy.cs
  application/Common/Win32HookHelper/Win32HookHelper.vcxproj
  application/Common/Win32HookHelper/main.cpp
  application/Core/CLI/CLI.csproj
  application/Core/MORR/Data/Capture/Video/Desktop/DesktopCapture.cs
  application/Core/MORR/Data/Capture/Video/Desktop/Utility/DesktopCaptureNativeMethods.cs
  application/Core/MORR/Data/Capture/Video/Desktop/VideoSampleProducer.cs
  application/Core/MORR/Data/IntermediateFormat/Json/JsonIntermediateFormatSerializer.cs
  application/Core/UI/App.xaml
  application/Core/UI/Assets/Icon/Icon.ico
  application/Core/UI/Assets/Icon/MORR_Active_Recording.ico
  application/Core/UI/Assets/Icon/MORR_Default.ico
  application/Core/UI/Controls/NotifyIcon/NotifyIcon.cs
  application/Core/UI/Dialogs/ErrorDialog.xaml
  application/Core/UI/Dialogs/ErrorDialog.xaml.cs
  application/Core/UI/Dialogs/InformationDialog.xaml
  application/Core/UI/Dialogs/InformationDialog.xaml.cs
  application/Core/UI/Dialogs/SaveDialog.xaml
  application/Core/UI/Dialogs/SaveDialog.xaml.cs
  application/Core/UI/Properties/launchSettings.json
  application/Core/UI/Styles/Icon.xaml
  application/Core/UI/UI.csproj
  application/Core/UI/Utility/NativeMethods.cs
  application/Core/UI/Utility/RelayCommand.cs
  application/Core/UI/Utility/SwitchConverter.cs
  application/Core/UI/Utility/WindowMessageSink.cs
  application/Core/UI/ViewModels/ApplicationViewModel.cs
  application/Modules/Mouse/Mouse.csproj
  application/Modules/WebBrowser/WebBrowserModule.cs
  application/Modules/WindowManagement/WindowManagement.csproj
Labels: UI

#114 Add unit tests for modules
  application/Modules/Clipboard/ClipboardModule.cs
  application/Modules/Clipboard/Native/ClipboardNativeMethods.cs
  application/Modules/Clipboard/Native/INativeClipboard.cs
  application/Modules/Clipboard/Native/NativeClipboard.cs
  application/Modules/Clipboard/Producers/ClipboardCopyEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardCutEventProducer.cs
  application/Modules/Clipboard/Producers/ClipboardPasteEventProducer.cs
  application/Modules/ClipboardTest/ClipboardModuleTest.cs
  application/Modules/ClipboardTest/ClipboardTest.csproj
  application/Modules/ClipboardTest/UnitTest1.cs
  application/Modules/Keyboard/KeyboardModule.cs
  application/Modules/Keyboard/Native/INativeKeyboard.cs
  application/Modules/Keyboard/Native/KeyboardNativeMethods.cs
  application/Modules/Keyboard/Native/NativeKeyboard.cs
  application/Modules/Keyboard/Producers/KeyboardInteractEventProducer.cs
  application/Modules/KeyboardTest/KeyboardModuleTest.cs
  application/Modules/KeyboardTest/KeyboardTest.csproj
  application/Modules/KeyboardTest/Producers/ProducersTest.cs
  application/Modules/KeyboardTest/UnitTest1.cs
  application/Modules/Mouse/MouseModule.cs
  application/Modules/Mouse/Native/INativeMouse.cs
  application/Modules/Mouse/Native/NativeMouse.cs
  application/Modules/Mouse/Producers/MouseMoveEventProducer.cs
  application/Modules/MouseTest/MouseModuleTest.cs
  application/Modules/MouseTest/MouseTest.csproj
  application/Modules/MouseTest/UnitTest1.cs
  application/Modules/WebBrowser/WebBrowserModuleConfiguration.cs
  application/Modules/WebBrowserTest/UnitTest1.cs
  application/Modules/WebBrowserTest/WebBrowserModuleTest.cs
  application/Modules/WebBrowserTest/WebBrowserTest.csproj
  application/Modules/WindowManagement/Native/INativeWindowManagement.cs
  application/Modules/WindowManagement/Native/NativeWindowManagement.cs
  application/Modules/WindowManagement/Producers/WindowFocusEventProducer.cs
  application/Modules/WindowManagement/Producers/WindowMovementEventProducer.cs
  application/Modules/WindowManagement/Producers/WindowResizingEventProducer.cs
  application/Modules/WindowManagement/Producers/WindowStateChangedEventProducer.cs
  application/Modules/WindowManagement/WindowManagementModule.cs
  application/Modules/WindowManagementTest/UnitTest1.cs
  application/Modules/WindowManagementTest/WindowManagementModuleTest.cs
  application/Modules/WindowManagementTest/WindowManagementTest.csproj
Labels: MODULES, TESTING

#117 Implementation Report
  .gitignore
  documents/implementation/ImplementationReport.tex
  documents/implementation/sections/Features.tex
  documents/implementation/sections/Introduction.tex
  documents/implementation/sections/Issues.tex
  documents/implementation/sections/Issues/BrowserExtension.tex
  documents/implementation/sections/Issues/CommandLineInterface.tex
  documents/implementation/sections/Issues/Common.tex
  documents/implementation/sections/Issues/Core.tex
  documents/implementation/sections/Issues/Modules.tex
  documents/implementation/sections/Statistics.tex
  documents/implementation/stats/authors.csv
  documents/implementation/stats/loc.csv
  documents/implementation/stats/loctests.csv
Labels: documentation, important
